@import url(mmenu.css);
@import url(fontawesome-all.css);
@import url(datatables.min.css);
@import url(sweetalert2.min.css);
@import url("https://fonts.googleapis.com/css?family=Tajawal:400,500,700,800,900&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

.mainColor-bg {
  background: #1F2B6A; }

.mainColor-color {
  color: #1F2B6A; }

.lightMainColor-bg {
  background: #3F497E; }

.lightMainColor-color {
  color: #3F497E; }

.blueColor-bg {
  background: #3C76F4; }

.blueColor-color {
  color: #3C76F4; }

.lightBlueColor-bg {
  background: #F4F9FF; }

.lightBlueColor-color {
  color: #F4F9FF; }

.redColor-bg {
  background: #EF4351; }

.redColor-color {
  color: #EF4351; }

.greenColor-bg {
  background: #03C38A; }

.greenColor-color {
  color: #03C38A; }

.grayColor-bg {
  background: #9098AC; }

.grayColor-color {
  color: #9098AC; }

.lightGry-bg {
  background: #D3D3D4; }

.lightGry-color {
  color: #D3D3D4; }

.orangeColor-bg {
  background: #FFBD0B; }

.orangeColor-color {
  color: #FFBD0B; }

.secondBlueColor-bg {
  background: #008095; }

.secondBlueColor-color {
  color: #008095; }

.notifications-list li .media h5, table.data-table.dataTable tbody tr td .media h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

a, .header a.menu-btn:before, .header a.menu-btn:after, .header a.menu-btn span, .search-container input {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s; }

.mm-menu .mm-panel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }
.mm-menu .mm-panel::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5; }
.mm-menu .mm-panel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1F2B6A; }

.gray-color {
  color: #9098AC; }

p {
  margin: 0; }

.small-font {
  font-size: 13px; }

.light-hover:hover {
  color: #3C76F4;
  background-color: #F4F9FF; }

.fw-400 {
  font-weight: 400 !important; }

.fw-500 {
  font-weight: 500 !important; }

.fw-600 {
  font-weight: 600 !important; }

.fw-700 {
  font-weight: 700 !important; }

.fw-800 {
  font-weight: 800 !important; }

.fw-900 {
  font-weight: 900 !important; }

body {
  background-color: #fafafa;
  font-family: 'Tajawal', sans-serif;
  line-height: 1.15; }

a {
  text-decoration: none !important; }
  a:hover {
    text-decoration: none !important; }

.light-link {
  color: #3C76F4; }
  .light-link:hover {
    color: #1F2B6A; }

.gray-link {
  color: #777777; }
  .gray-link:hover {
    color: #1F2B6A; }

.header a.menu-btn {
  display: block;
  width: 51px;
  height: 40px;
  padding: 11px;
  margin: 2px;
  position: absolute;
  top: 7px;
  left: 0;
  z-index: 5; }
  .header a.menu-btn:before, .header a.menu-btn:after {
    content: '';
    display: block;
    background: #1F2B6A;
    height: 2px; }
  .header a.menu-btn span {
    background: #1F2B6A;
    display: block;
    height: 2px;
    margin: 6px 0; }
  .header a.menu-btn:hover:before, .header a.menu-btn:hover:after, .header a.menu-btn:hover span {
    background: #3C76F4; }

.mm-wrapper_opening a.menu-btn {
  opacity: 0;
  top: -100px; }

.mm-navbar_sticky {
  display: none; }

.mm-navbar {
  height: 57px;
  background-color: white; }
  .mm-navbar div img {
    height: 30px;
    width: auto; }

.mm-menu {
  border: 0 !important;
  background-color: white; }
  .mm-menu .mm-panel {
    background-color: white; }
  .mm-menu .mm-listitem:after {
    display: none; }
  .mm-menu .mm-btn_close:after, .mm-menu .mm-btn_close:before {
    width: 9px;
    height: 9px;
    border-color: #393939; }
  .mm-menu .mm-btn_close:before {
    right: 13px; }
  .mm-menu .mm-btn_close:after {
    right: 26px; }
  .mm-menu .mm-listview li {
    position: relative; }
    .mm-menu .mm-listview li.active:before {
      position: absolute;
      content: '';
      width: 5px;
      background-color: #3C76F4;
      height: 20px;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
    .mm-menu .mm-listview li.active a {
      color: #3C76F4;
      background-color: #F4F9FF; }
    .mm-menu .mm-listview li a {
      font-weight: 500;
      color: #888888; }
      .mm-menu .mm-listview li a:hover {
        color: #3C76F4;
        background-color: #F4F9FF; }
      .mm-menu .mm-listview li a i {
        width: 20px;
        text-align: center; }

.mm-wrapper_sidebar-collapsed .mm-page, .mm-wrapper_sidebar-expanded .mm-page {
  min-height: calc(100vh - 56px); }

.dashboard-header .navbar {
  padding: 0; }
  .dashboard-header .navbar ul.navbar-nav li:not(:last-child) a {
    border-right: 1px solid #EAEEF2; }
  .dashboard-header .navbar ul.navbar-nav li.notifications-dropdown .dropdown-menu {
    width: 350px;
    padding: 0; }
    .dashboard-header .navbar ul.navbar-nav li.notifications-dropdown .dropdown-menu a {
      padding: 0;
      border-right: 0; }
  .dashboard-header .navbar ul.navbar-nav li.notifications-dropdown a:after {
    display: none; }
  .dashboard-header .navbar ul.navbar-nav li a {
    padding: 1.1rem 15px 0.9rem; }
    .dashboard-header .navbar ul.navbar-nav li a i {
      font-size: 20px; }

.new-notifications .dropdown-toggle i {
  position: relative; }
  .new-notifications .dropdown-toggle i:after {
    position: absolute;
    right: -2px;
    top: -4px;
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #EF4351;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(239, 67, 81, 0.2);
    -moz-box-shadow: 0px 0px 0px 3px rgba(239, 67, 81, 0.2);
    box-shadow: 0px 0px 0px 3px rgba(239, 67, 81, 0.2); }

.my-drop .dropdown-menu {
  top: calc(100% + 5px);
  border-radius: 8px;
  border: 0; }
  .my-drop .dropdown-menu:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    display: block;
    top: -6px;
    right: 19px; }

.notifications-list h5.notification-date-left {
  font-weight: 700;
  color: #888;
  font-size: 18px; }
.notifications-list li {
  border-top: 1px solid #D3D3D4;
  padding: 0.7rem 1rem;
  margin-left: -1rem;
  margin-right: -1rem; }
  .notifications-list li:first-child {
    border-top: 0; }
  .notifications-list li:last-child {
    border-bottom: 0; }
  .notifications-list li.new-notifications-child .notifications-list-img {
    position: relative; }
    .notifications-list li.new-notifications-child .notifications-list-img:before {
      content: '';
      position: absolute;
      right: -2px;
      top: -2px;
      display: block;
      width: 7px;
      height: 7px;
      background-color: #EF4351;
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 0px 2px white;
      -moz-box-shadow: 0px 0px 0px 2px white;
      box-shadow: 0px 0px 0px 2px white; }
  .notifications-list li .media img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 7px; }
  .notifications-list li .media h5 {
    color: #1F2B6A;
    font-size: 17px;
    width: 247px;
    font-weight: 500; }

.view-all-nof {
  border-top: 1px solid #D3D3D4;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem; }

.profile-dropdown .dropdown-toggle {
  position: relative;
  padding: 1rem 15px 0.9rem !important; }
  .profile-dropdown .dropdown-toggle:after {
    position: absolute;
    right: 7px;
    top: 47%; }
.profile-dropdown .profile-drop-img {
  position: relative; }
  .profile-dropdown .profile-drop-img:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: block;
    right: -2px;
    top: -2px;
    background-color: #03C38A; }
  .profile-dropdown .profile-drop-img img {
    height: 25px;
    width: 25px;
    border-radius: 50%; }
.profile-dropdown .dropdown-menu a {
  border-right: 0 !important; }
  .profile-dropdown .dropdown-menu a i {
    font-size: 13px !important; }

.mm-wrapper_opening .content {
  padding-right: 2.5rem;
  padding-left: 2.5rem; }

.add-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #1F2B6A;
  font-size: 33px; }
  @media (max-width: 991.98px) {
    .add-btn {
      width: 40px;
      height: 40px;
      font-size: 25px; } }

.my-card {
  border-radius: 8px;
  background-color: white; }

@media (max-width: 991.98px) {
  .main-title {
    font-size: 20px; } }

.search-container {
  position: relative; }
  .search-container i {
    position: absolute;
    color: #777;
    left: 15px;
    top: 50%;
    transform: translateY(-50%); }
  .search-container input {
    width: 100%;
    height: 40px;
    border: 1px solid #E2E6EB;
    background-color: #F4F9FF;
    color: #777777;
    padding-left: 40px;
    border-radius: 50px;
    display: flex;
    justify-items: center;
    outline: 0; }
    .search-container input:focus {
      border-color: #3C76F4; }

.drop-btn {
  background-color: transparent;
  position: relative;
  border: 0;
  outline: 0 !important;
  font-weight: 600;
  padding-right: 14px; }
  .drop-btn:hover {
    cursor: pointer; }
  .drop-btn:after {
    position: absolute;
    right: 0;
    top: 10px; }

table.data-table.dataTable {
  border-bottom: 0;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em; }
  table.data-table.dataTable thead tr {
    background-color: #F4F9FF;
    border-radius: 8px !important; }
    table.data-table.dataTable thead tr th {
      padding: 15px 15px;
      color: #1F2B6A;
      font-size: 15px;
      font-weight: 500;
      border-bottom: 0; }
      table.data-table.dataTable thead tr th:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px; }
      table.data-table.dataTable thead tr th:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px; }
  table.data-table.dataTable tbody tr td {
    padding: 5px 5px;
    border-bottom: 0;
    border-top: 0;
    background-color: #F1F4F8;
    color: #777777;
    font-size: 14px; }
    table.data-table.dataTable tbody tr td:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px; }
    table.data-table.dataTable tbody tr td:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px; }
      table.data-table.dataTable tbody tr td:last-child a {
        font-size: 15px;
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        color: #777; }
        table.data-table.dataTable tbody tr td:last-child a:first-child:hover {
          background-color: #3F497E;
          color: #fff; }
        table.data-table.dataTable tbody tr td:last-child a:nth-child(2):hover {
          background-color: #EF4351;
          color: #fff; }
        table.data-table.dataTable tbody tr td:last-child a:last-child:hover {
          color: #fff;
          background-color: #3C76F4; }
    table.data-table.dataTable tbody tr td .media img {
      border-radius: 5px;
      object-fit: cover;
      height: 45px;
      width: 45px; }
    table.data-table.dataTable tbody tr td .media h5 {
      width: 100px;
      font-size: 15px;
      font-weight: 500;
      color: #1F2B6A; }
    table.data-table.dataTable tbody tr td span.table-status {
      display: block;
      padding-left: 19px;
      position: relative; }
      table.data-table.dataTable tbody tr td span.table-status:before {
        content: '';
        position: absolute;
        left: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        top: 3px; }
      table.data-table.dataTable tbody tr td span.table-status.s-active:before {
        background-color: #00CDF2; }
      table.data-table.dataTable tbody tr td span.table-status.s-completed:before {
        background-color: #3F497E; }
      table.data-table.dataTable tbody tr td span.table-status.s-cancelled:before {
        background-color: #EF4351; }
      table.data-table.dataTable tbody tr td span.table-status.s-waiting:before {
        background-color: #FFBD0B; }

.dataTables_length label {
  margin-bottom: 0;
  margin-top: 10px; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%; }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border: 0;
    background: #1F2B6A;
    color: #fff !important; }
    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
      border: 0;
      background: #1F2B6A;
      color: #fff !important; }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #00CDF2;
    border-color: #00CDF2 !important; }

/*# sourceMappingURL=style-en.css.map */
